<h1>Messages</h1>
<div class="messages-container">
  <%=render @messages %>
</div>

<div class="new-message">
  <%= form_for Message.new do |f| %>
    <%= f.text_field :user, placeholder: "User Name" %>
    <%= f.text_area :body, placeholder: "Your message..." %>
    <%= f.submit "Send" %>
  <% end %>

</div>
